* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('img/greenBC2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: content-box;
}

header{
    width: 100%;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerSection a{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    transition: all 0.8s;
    padding-left: 50px;
    padding-right: 50px;
}

.headerSection a:hover{
    background-color: rgb(0, 26, 0);
    color: white;
}

a{
    color: white;
    padding: 10px;
    font-weight: 600 !important;
    cursor: pointer;
}


.logo{
    width:9%;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(1, 92, 1);
    transition: all 1.2s;
    z-index: 1;
}

.sticky a {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

.dateAddress {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.HouseImg{
    width: 41%;
}

.info{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 10px;
    color: white;
}

.info1{
    font-size: 62pt;
}
.info2{
    font-size: 32pt;
    color: rgb(0, 26, 0);
}
.info3{
    font-size: 16pt;
    color: white;
    background-color: rgb(0, 26, 0);
    border-radius: 10px;
    padding: 5px;
    width: 220px;
    align-self: center;
}

.countdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 35pt;
    gap: 10px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 26, 0);
    font-weight: bolder;
}

.walterGif{
    width: 8%;
}

/*Member Photos Section*/
.walterImg {
    z-index: 0;
    position: relative;
    height: 180%;
    bottom: 30%;
}

.meetTeam {
    display: flex;
    background-color: rgb(1, 76, 1);
    width: 100%;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.teamText{
    padding-top: 5%;
    font-size: 58pt;
    color: rgb(0, 26, 0);
}

.memberContainer {
    padding-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    width: 100%;
}


.teamMember {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.name {
    font-size: 16pt;
    padding-top: 10px;
    font-weight: 900;
}

.charge {
    padding-bottom: 10px;
    font-weight: 300;
}

.memberPhoto {
    width: 130px;
    border-radius: 50%;
    position: relative;
}

footer {
    background-color: black;
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    justify-content: center;
}

.schedule h1{
    padding-top: 5%;
    font-size: 58pt;
    color:  rgb(0, 26, 0);
}


.eventGrid_html {
    width: 100%;
    height: 100%;
}

.surveyForm{
    display: flex;
    height: 100vh;
    background-color: darkgreen;
    flex-direction: column;
}

.surveyForm h1{
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size: 58pt;
}

.typeformContainer{
    display: flex;
    justify-content: right;
    height: 80%;
}

.typeform{
    height: 100%;
    width: 50%;
}

